<div class="task-card"
     [appHighlight]="task.completed"
     [appPriorityColor]="task.priority"
     appOnHoverHighlight>


  <div class="task-main">


    <div class="task-content">
      <h4 [class.completed]="task.completed">
        {{ task.title }}
      </h4>

      <p class="task-desc">
        {{ task.description | truncate:30 }}
      </p>
    </div>

 
    <div class="task-check">
      <input 
        type="checkbox" 
        [checked]="task.completed"
        (change)="toggle.emit(task.id)" 
      />
    </div>

  </div>


  <div class="task-footer">

   
    <span class="delete-icon" (click)="delete.emit(task.id)">
      remove
    </span>


    <div class="task-meta">
      <span class="status">
        {{ task.completed | taskStatus }}
      </span>
      <span class="date">
        {{ task.createdAt | date:'short' }}
      </span>
    </div>

  </div>

</div>