
<form [formGroup]="form" (ngSubmit)="onSubmit()">
      <!-- <input appAutofocus formControlName="title" placeholder="Title" /> -->
      <app-input  formControlName="title" placeholder="Title"></app-input>

      <!-- <textarea formControlName="description"></textarea> -->
      <app-input formControlName="description" placeholder="Description"></app-input>

      <select formControlName="priority">
        <option value="low">Low</option>
        <option value="medium">Medium</option>
        <option value="high">High</option>
      </select>

      
<div class="form-actions">
  <button type="submit">Save</button>
  <button type="button" (click)="close.emit()">Cancel</button>
</div>

</form>
