
<form [formGroup]="form" (ngSubmit)="onSubmit()">
      <!-- <input appAutofocus formControlName="title" placeholder="Title" /> -->
      <app-input formControlName="title"></app-input>

      <!-- <textarea formControlName="description"></textarea> -->
      <app-input formControlName="description"></app-input>

      <select formControlName="priority">
        <option value="low">Low</option>
        <option value="medium">Medium</option>
        <option value="high">High</option>
      </select>

      <button type="submit">Save</button>
      <button type="button" (click)="close.emit()">Cancel</button>
</form>
