<h1>Task Manager</h1>

<div class="container">
<div class="top-bar">
  <app-search-bar (searchChange)="setSearch($event)"></app-search-bar>
  <app-filter-bar (filterChange)="setFilter($event)"></app-filter-bar>
</div>
<button class="add-btn" (click)="openModal()">Add Task</button>
</div>




@if (tasks$ | async; as tasks) {

  <app-task-list
    [tasks]="tasks"
    (delete)="deleteTask($event)"
    (toggle)="toggleTask($event)"
  />

} @else {
  <p>Loading tasks...</p>
}


@if (showModal()) {
  @defer {
    <app-task-form
      (close)="closeModal()"
      (save)="addTask($event)"
    />
  } @loading {
    <p>Loading form...</p>
  }
}
