
   <h2>Task Manager</h2>

    <app-filter-bar (filterChange)="setFilter($event)" />

    <app-search-bar
      (searchChange)="setSearch($event)">
    </app-search-bar>

    <app-task-list
      [tasks]="filteredTasks()"
      (delete)="deleteTask($event)"
      (toggle)="toggleTask($event)"
    />

    <button (click)="openModal()">Add Task</button>

    
  @if(showModal()) {
    @defer{
    <app-task-form
    (close)="closeModal()"
    (save)="addTask($event)"
    />
    }@loading {
      <p>Loading form...</p>
    }

}

